/**
* COLORS mostly from http://materialcolors.com/
*/

// $background: #221931;
// $darkpurple: #2e2242;
// $purple: #5E70A6;
$vpadding: 20px;


$red: #e52f45;
$blue: #354f82;

$textcolor: rgba(255, 255, 255, .75);
$textlight: rgba(255, 255, 255, .5);
$white: #fff;

$lightblue: $textcolor;
